<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
  <session-factory>
    <!--  Database connection settings
    -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/sys</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Muhammad@1</property>
    <!--  JDBC connection pool (use the built-in)
    -->
    <property name="hibernate.connection.pool_size">5</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="hibernate.show_sql">true</property>

    <!--  Disable the second-level cache
    -->
    <property name="cache.provider_class">org.hibernate.cache.internal.CollectionCacheInvalidator
    </property>
    <!--  Echo all executed SQL to stdout
    -->
    <!--  Drop and re-create the database schema on startup
    -->
    <property name="hbm2ddl.auto">create</property>

    <!--  SQL dialect
    -->

    <!--  Names the annotated entity class
    -->
    <mapping class="" />

  </session-factory>
</hibernate-configuration>